<!-- FILL ME IN WITH CODE FOR YOUR PAGE LAYOUT -->
<!DOCTYPE html>
<html lang="eng">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" href= {{page.icon}} >
    <link rel="stylesheet"    href="../static/main/css/main.css">
</head>

<body>
    <article>
    <!-- The header  -->
    <header class="header">
        <link rel="stylesheet" href="../static/main/css/header.css">
        <img src="../static/main/images/banner.jpg" alt="banner" loading="lazy">
    </header>

    <nav class="navbar">
        <link rel="stylesheet" href="../static/main/css/navbar.css">
        <div class="nav-text"> Welcome to my portfolio!!</div>
        <div class="nav-link">
            <a href="../index.html"> Home </a>
            <a href="../index.html"> Projects </a>
            <a href="../index.html"> Resume </a>
            <a href="https://www.linkedin.com/in/hduy2510/" target="_blank">
                <img src="../static/main/images/social-linkedin.png" alt="lkd page">
            </a>
        </div>

        <input id="check01" type="checkbox" name="menu"/>
        <label for=check01><img src="../static/main/images/menu-bar.png" alt="menu"></label>
        <div class="nav-menu-content">
            <a href="../index.html"> Home </a>
            <a href="../index.html"> Projects </a>
            <a href="../index.html"> Resume </a>
            <a href="https://www.linkedin.com/in/hduy2510/" target="_blank"> Linkedln </a>
        </div>
    </nav>

    <br><br>

    <!-- The main content  -->
    <main>
      {{ content }}
    </main>

    <!-- The footer of the file -->
    <footer>
        <link rel="stylesheet" href="../static/main/css/footer.css">
        <p class="footer-text">© 2025 Pham Hoang Duy</p>
    </footer>

    </article>
  
</body>
</html>








